<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses data from <b>weatherstack</b> and <b>mapbox</b>.</p>
        <img class="portrait" src="img/jythy.png"><br>
    </div>

    {{>footer}}
</body>
</html>